body{

    width: 100%;
    transition: background 1s;
    margin:0;
    height: 1275px;
}

main{
    font-family: 'Oswald', sans-serif;
}

.taustakuva {
    background: url("../resources/liikunta2.jpg")no-repeat center /cover;
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
}

#map {
    margin: 20px 0px;
    width: 60%;
    height:700px;
    border:groove 10px;
    border-color:#161B33;
}

#napposetLiikka {
    margin:auto;
    width: 30%;
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	
}
.napit {
   
    border:groove 2px;
    border-color:white;
    margin-inline: 2%;
    margin-top: 4%;
}

.nappiKuvatLiikka    {
    height: 80%;
    width: 50%;
}

#info {
    margin: 20px 0;
    height: 100%;
    border:groove 10px;
    border-color:#161B33;
    background-color: rgba(255, 255, 255, 0.603);
    text-align: center;
    width: 40%;
}

.napit {
    background-color: #161B33; 
    text-align: center;
    margin-top: 20px;
    border:groove 2px;
    border-color:white;
    color: white;
}


#navb{
    text-align: center;
    background-color: #161B33; 
    color: white;
    border: groove 2px;
}

#kontaineri {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px 20px;
    margin: 0 10px;

}
