body{
    width: 100%;
    transition: background 1s;
    margin:0;
}

.taustakuva {
    background-image: url("../resources/tapahtumat.jpg");
    font-family: 'Oswald', sans-serif;
    width: 100%;
    height: 100%;
}

#kontaineri {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px 20px;
}

#map {
    width: 100%;
    height:700px;
    border:groove 10px;
    border-color:darkred;
}

#info {
    width: 100%;
    height:100%;
    border:groove 10px;
    border-color:darkred;
    background-color: rgba(255, 255, 255, 0.603);
    text-align: center;
}

#tapahtumat {
    background-color: darkred;
    color: white;
    border: groove 2px;
    width: 100px;
    height: 50px;
}


#napit{
    width: 100%;
    text-align: center;
}

.napit {
    background-color: darkred;
    color: white;
    border: groove 2px;
    border:groove 2px;
    border-color:white;
    margin-inline: 1%;
    margin-top: 4%;
}

.nappiTapahtumat {
    height: 50px;
    width: 50px;
}

#kartta {
    width: 57%;
    height: 40%;
}

#infoBox {
    width: 35%;
    height: 100%;
}