header {
    width: 100%;
    background-color:#161B33;

}
body{

    width: 100%;
    transition: background 1s;
    margin:0;
    height: 1275px;
}
header h1 {
    font-size: 70px;
    color: white;
    float: left;
    padding-left: 20px;
    margin-left: 20px;
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Bebas Neue', cursive;
}
header h1 a{
    color:white;
    text-decoration: none;
}
main{
    font-family: 'Oswald', sans-serif;
}

header ::after {
    content:'';
    display:table;
    clear: both;
}
#menu {
    float:right;
}
#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu li {
    display: inline-block;
    margin: 0 50px;
    padding-top: 70px;
    position:relative;
}
#menu a {
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}
#menu a:hover {
    color: white;
}
#menu a::before{
    content:'';
    display: block;
    height:5px;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 100ms;
    background-color: white;
}
#menu a:hover::before{
    width: 100%;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.taustakuva {
    background: url("../resources/viihde.jpg")no-repeat center /cover;
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
}

#map {
    margin: 20px 0;
    width: 60%;
    height:700px;
    border:groove 10px;
    border-color:deeppink;
}

#napposet {
    margin:auto;
    width: 60%;
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

#info {
    margin: 20px 0;
    height: 100%;
    border:groove 10px;
    border-color:deeppink;
    background-color: rgba(255, 255, 255, 0.603);
    text-align: center;
    width: 40%;
}

.nappulat {
    background-color: deeppink;
    text-align: center;
    border:groove 2px;
    border-color:white;
    color: white;
    margin-inline: 1%;
    margin-top: 2%;
}

.nappiKuvat {
    height: 80%;
    width: 60%;
}

#navb{
    text-align: center;
    background-color: #161B33;
    color: white;
    border: groove 2px;
}

#kontaineri {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px 20px;
    margin: 0 10px;

}

footer {
    background-color: rgba(22,	27 , 51, 0.95);
    color:white;
    overflow: auto;

}
footer p{
    float:left;
    margin: 1%;
    padding-top: 20px;
    padding-bottom: 10px;
}
#somet {
    list-style: none;
    margin-bottom: auto;
}
#somet li {
    display: inline-block;
    margin: 0;
    padding-top: 0.5%;
    padding-bottom: 1.5%;
    position: relative;
}
#somet ul {
    background-color: rgba(22,	27 , 51, 0.95);
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
#somet a{
    display: inline-block;
    margin-left: 0;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    position:relative;
}
